/*--------------------------------------------------
Base Elements Styles
----------------------------------------------------*/

* {
	box-sizing: border-box;
}


body {
	color: #2d3945;
	font-family: 'Titillium Web', sans-serif;

}

/*--------------------------------------------------
Base Layout Styles
----------------------------------------------------*/
header {
	background:#2d3945;
	color:#fff;
	text-align: center;
}

h2 + p {
	color: #9ea9b2;
}

fieldset {
	border:none;
	margin:0;
	padding:0;
}

.wrap {
	min-height: calc(100vh - 52px);
}

footer 
{
	color:#9ea9b2;
	text-align: center;
}

.signUp {
	border-bottom: #2d3945 4px solid;
}

.contactInfo {
		border-top: #2d3945 1px solid;
		margin-top:.20em;
}
.container {
	padding:1em;
	margin: 0 auto;
	
}

.contactInfo div {
	padding-bottom: 1.5em;
} 

.contactInfo label,.newsLetterType label {
	display: inline-block;
	padding-bottom: .5em;
}

input:focus {
	background-color:;
}


[type="submit"] {
	margin: 2em 0;
}


[type="text"],
[type="tel"] ,
[type="email"],
[name="user_state"] {
	width: 100%;
	height: 3em;
	border: none;
	display: block;
	background-color: #eff0f1;
	color:#a8adb2;
	font-family: 'Titillium Web', sans-serif;
	border-radius: 5px;
	padding:  0 1em;
}


textarea {
	width: 100%;
	height:100px;
	background-color: #eff0f1;
	color:#a8adb2;
}

[type="submit"] {
	background-color: #4ebbb5;
	color:white;
	width: 100%;
	height: 3em;
	border: none;
	font-family: 'Titillium Web', sans-serif;
}
 
 input[type="text"] {
 	content:attr(placeholder, 'Required');
 }


/*--------------------------------------------------
Media Queries
----------------------------------------------------*/

@media  screen and (min-width: 760px){


	.container{
		width: 50%;

	}

	.contactInfo label {
		max-width:150px;
		width: 150px;
	}


	[type="text"],
	[type="tel"],
	[type="email"],
	[name="user_state"] {
		display: inline;
		max-width: calc((100% - 150px) -  1em);
	} 




}




